@use "../../constants/colors";

.card {
    width: 150px;
    height: 200px;
    background-color: colors.$cardBackgroundDark;
    border-radius: 12px;
    box-shadow: 0 2px 8px colors.$cardShadow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.2s;
    font-family: "Inter", sans-serif;
    position: relative;

    &:hover {
        transform: translateY(-4px);
        box-shadow: 0 4px 12px colors.$cardShadowHover;

        .deleteIcon {
            opacity: 1;
            pointer-events: auto;
        }
    }
}

.iconWrapper {
    margin-top: 10px;
}

.icon {
    width: 100px;
    height: 100px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.name {
    text-align: center;
    margin-top: 8px;
    font-size: 20x;
    color: colors.$textWhite;
}

.role {
    text-align: center;
    font-size: 14px;
    color: darken(colors.$textWhite, 10%);
}

.deleteIcon {
    width: 10px;
    height: 10px;
    cursor: pointer;
    transition: filter 0.2s;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0;

    &:hover {
        filter: brightness(0.8);
    }
}
