@import "../../constants/colors";

.card {
    width: 150px;
    height: 200px;
    background-color: $cardBackgroundDark;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.2s;
    font-family: "Inter", sans-serif;

    &:hover {
        transform: translateY(-4px);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    }
}

.iconWrapper {
    margin-top: 10px;
}

.icon {
    width: 100px;
    height: 100px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.name {
    text-align: center;
    margin-top: 8px;
    font-size: 20x;
    color: $textWhite;
}

.role {
    text-align: center;
    font-size: 14px;
    color: darken($textWhite, 10%);
}
