@use "../../constants/colors";

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    border-radius: 6px;
    background-color: colors.$cardBackgroundLight;
    margin-bottom: 8px;
    min-height: 50px;
    width: 100%;
    cursor: pointer;
}

.source {
    flex-shrink: 0;
    color: colors.$textDark;
    font-size: 16px;
}

.rightSide {
    display: flex;
    align-items: center;
}

.severity {
    color: colors.$primary;
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
    min-width: 60px;
    margin-right: 25px;
}

.timestamp {
    color: colors.$textDark;
    font-size: 13px;
    white-space: nowrap;
}
