@use "../../../../constants/colors";

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    gap: 10px;
    padding: 15px;

    .logValBig {
        background: colors.$logFieldBackground;
        padding: 6px 10px;
        border-radius: 8px;
        padding: 6px 10px;
    }

    .logValSmall {
        background: colors.$logFieldBackground;
        padding: 6px 10px;
        border-radius: 8px;
        padding: 6px 10px;
        width: fit-content;
    }

    .logValBigger {
        display: inline-block;
        word-break: break-all;
        background: colors.$logFieldBackground;
        padding: 6px 10px;
        border-radius: 8px;
        width: 100%;
    }

    .severityContainer {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .severity {
        padding: 6px 10px;
        border-radius: 8px;
    }
}
