@use "../../constants/colors";

.card {
    width: 150px;
    height: 200px;
    background-color: colors.$cardBackgroundLight;
    border-radius: 12px;
    box-shadow: 0 2px 8px colors.$cardShadow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.2s;
    overflow: hidden;

    &:hover {
        transform: translateY(-4px);
        box-shadow: 0 4px 12px colors.$cardShadowHover;
    }
}

.iconWrapper {
    margin-top: 10px;
}

.icon {
    width: 100px;
    height: 100px;
}

.name {
    text-align: center;
    padding: 5px;
    color: colors.$secondary;
    font-weight: 400;
}
